<!-- Header -->
<header id="header">
        <h1><a href="/"><strong>{{ site.header.title }}</strong><span class="site-subtitle"> {{ site.header.subtitle }}</span></a></h1>
        <nav>
            <ul>
                {% for post in site.posts %}
                    <li><a href="{{ post.url }}" class="icon fa-camera-retro">{{ post.title }}</a></li>
                {% endfor %}
                <li><a href="#footer" class="icon fa-info-circle">Sobre</a></li>
            </ul>
        </nav>
    </header>